# Log files
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment files

client/BreviewFE/.env
server/.env
client/BreviewFE/.env.*
server/.env.*
# Git files
.gitignore

# Node modules
node_modules

# Build outputs
dist
dist-ssr

# Local files
*.local
